:root {
  /* Colors */
  --iris: #4d5ae5;
  --ocean: #404bbf;
  --navy-blue: #2e2f42;
  --green: #31d0aa;
  --slate: #434455;
  --light-slate: #8e8f99;
  --cornflower: #e7e9fc;
  --cloud: #f4f4fd;
  --navy-blue-modal: rgba(46, 47, 66, 0.4);
  --grey: #2e2f42;
  --white: #ffffff;
  --dairy: #fcfcfc;
  /* Fonts */
  --primary-font: Roboto, sans-serif;
  --secondary-font: Raleway, sans-serif;
  /* Animation */
  --anim: 250ms cubic-bezier(0.4, 0, 0.2, 1);

  --items: 1;
}

body {
  font-family: var(--primary-font);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  font-style: normal;
  color: var(--slate);

  background-color: var(--white);
}

/* Reset */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
.link {
  text-decoration: none;
  color: currentColor;
}
.list {
  margin: 0;
  padding: 0;
  list-style: none;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Recurring classes */
.title {
  margin-bottom: 72px;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  color: var(--navy-blue);
}
.subtitle {
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--navy-blue);
}
.desc {
  letter-spacing: 0.02em;
}
.container {
  /* Phone */
  min-width: 320px;
  max-width: 428px;
  padding-left: 16px;
  padding-right: 16px;
  margin-left: auto;
  margin-right: auto;
}
/* Tablet */
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
/* Desktop */
@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
  }
}

.flex-container {
  display: flex;
  align-items: center;
}
.flex-container li:last-child {
  margin-right: 0;
}

/* Header */
.header {
  background-color: var(--white);
  border-bottom: 1px solid var(--cornflower);
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}
.header-container {
  display: flex;
  align-items: center;
}
/* Tablet */
@media screen and (min-width: 768px) and (max-width: 1157px) {
  .header-container {
    gap: 120px;
  }
}

/* Nav */
.header-nav {
  margin-right: auto;
}
/* Logo */
.logo {
  /* Phone */
  margin-right: auto;
  padding: 24px 0 22px;

  font-family: var(--secondary-font);
  font-size: 18px;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--iris);
  text-transform: uppercase;
}
/* Tablet */
@media screen and (min-width: 768px) {
  .logo {
    margin-right: 120px;
  }
}
/* Desktop */
@media screen and (min-width: 1158px) {
  .logo {
    margin-right: 76px;
  }
}
.header-logo {
  font-family: var(--secondary-font);
  font-size: 18px;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--navy-blue);
  text-transform: uppercase;
}
@media screen and (max-width: 767px) {
  .header-menu {
    display: none;
  }
}

.header-item {
  margin-right: 40px;
}
.header-menu a {
  position: relative;

  display: block;
  padding: 24px 0px;

  font-weight: 500;
  color: var(--navy-blue);

  transition: color var(--anim);
}
.header-menu a:hover {
  color: var(--ocean);
}
.header-menu a:focus {
  color: var(--ocean);
}
.header-menu a::after {
  content: "";
  position: absolute;

  display: block;
  bottom: -1px;
  width: 100%;
  height: 4px;

  border-radius: 2px;

  transition: background-color var(--anim);
}
.header-menu a.current {
  color: var(--ocean);
}
.header-menu a.current::after,
.header-menu a:hover::after,
.header-menu a:focus::after {
  background-color: var(--ocean);
}

/* Contacts */
.header-contacts {
  font-style: normal;
}
@media screen and (max-width: 767px) {
  .header-contacts {
    display: none;
  }
}
.header-contacts-container {
  display: flex;
  align-items: center;
}
/* Tablet */
@media screen and (min-width: 768px) and (max-width: 1157px) {
  .header-contacts-container {
    display: block;
  }
}
.header-contacts a {
  color: var(--slate);
  padding: 24px 0px;
  transition: color var(--anim);
}
/* Tablet */
@media screen and (min-width: 768px) and (max-width: 1157px) {
  .header-contacts a {
    font-size: 12px;
    line-height: 1.17;
    padding: 12px 0 16px;
  }
}
.header-contacts a:hover {
  color: var(--ocean);
}
.header-contacts a:focus {
  color: var(--ocean);
}

/* Hero image */
.hero {
  padding: 188px 0px;
  margin: auto;
  max-width: 1440px;

  background-color: var(--navy-blue);
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/section_hero/people-office_mob.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/section_hero/people-office_mob@2x.jpg);
  }
}
/* Tablet */
@media screen and (min-width: 429px) and (max-width: 768px) {
  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/section_hero/people-office_tab.jpg);
  }
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/section_hero/people-office_tab@2x.jpg);
    }
  }
}
/* Desktop */
@media screen and (min-width: 769px) {
  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/section_hero/people-office_desk.jpg);
  }
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/section_hero/people-office_desk@2x.jpg);
    }
  }
}

.hero-title {
  /* Phone */
  min-width: 288px;
  max-width: 320px;
  text-align: center;
  margin-right: auto;
  margin-left: auto;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  color: var(--white);
}
/* Tablet */
@media only screen and (min-width: 768px) {
  .hero-title {
    max-width: 496px;
    font-size: 56px;
    line-height: 1.07;
  }
}
/* Desktop */
@media only screen and (min-width: 1158px) {
}
.hero-btn {
  /* Phone */
  display: block;
  margin: 0 auto;
  margin-top: 72px;
  min-width: 169px;
  min-height: 56px;
  align-items: center;

  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--white);

  background-color: var(--iris);
  cursor: pointer;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: 0px;
  border-radius: 4px;

  transition: background-color var(--anim);
}
/* Tablet */
@media screen and (min-width: 768px) {
  .hero-btn {
    margin-top: 36px;
  }
}
/* Desktop */
@media screen and (min-width: 1158px) {
  .hero-btn {
    margin-top: 48px;
  }
}
.hero-btn:hover {
  background-color: var(--ocean);
}
.hero-btn:focus {
  background-color: var(--ocean);
}

/* Section Features */
.features {
  /* Phone */
  min-width: 320px;
  padding: 96px 0px;
}
/* Desktop */
@media screen and (min-width: 1158px) {
  .features {
    padding: 120px 0px;
  }
}

.features-list {
  /* Phone  */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 72px;
}
/* Tablet */
@media screen and (min-width: 768px) {
  .features-list {
    flex-wrap: wrap;
    flex-direction: row;
    row-gap: 72px;
    column-gap: 24px;
  }
}
/* Desktop */
@media screen and (min-width: 1158px) {
  .features-list {
    align-items: flex-start;
    flex-wrap: nowrap;
    gap: 24px;
  }
}

.features-list-item {
  /* Phone  */
  max-width: 396px;
}
/* Tablet */
@media screen and (min-width: 768px) {
  .features-list-item {
    max-width: 356px;
  }
}
/* Desktop */
@media screen and (min-width: 1158px) {
  .features-list-item {
    max-width: 264px;
  }
}

.features-list-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 112px;
  margin-bottom: 8px;

  border-radius: 4px;
  background-color: var(--cloud);
}
/* Phone and Tablet */
@media screen and (max-width: 1157px) {
  .features-list-icon {
    display: none;
  }
}
.features-subtitle {
  /* Phone */
  margin-bottom: 8px;
  text-align: center;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: var(--navy-blue);
}
/* Tablet */
@media screen and (min-width: 768px) {
  .features-subtitle {
    text-align: start;
  }
}
/* Desktop */
@media screen and (min-width: 1158px) {
  .features-subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
  }
}

/* Section 3 */
.what-are-we-doing {
  padding-bottom: 120px;
}
.what-are-we-doing-list-item {
  margin-right: 24px;
  width: calc((100% - 3 * 16px) / 3);

  border: 1px solid var(--cornflower);
}
/* Phone and Tablet */
@media screen and (max-width: 1157px) {
  .what-are-we-doing {
    display: none;
  }
}

/* Section Team */
.team {
  /* Phone */
  min-width: 320px;
  padding: 96px 0px;

  background-color: var(--cloud);
}
/* Desktop */
@media screen and (min-width: 1158px) {
  .team {
    padding: 120px 0px;
  }
}
.team-list {
  /* Phone */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 72px;
}
/* Tablet */
@media screen and (min-width: 768px) {
  .team-list {
    flex-wrap: wrap;
    flex-direction: row;
    row-gap: 64px;
    column-gap: 24px;
  }
}
/* Desktop */
@media screen and (min-width: 1158px) {
  .team-list {
    align-items: flex-start;
    flex-wrap: nowrap;
    gap: 24px;
  }
}

.team-list-item {
  background-color: var(--white);
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
}
.team-card-desc {
  padding: 32px 0px;
  text-align: center;

  border-radius: 0px 0px 4px 4px;
}
.team-position {
  margin-bottom: 8px;

  letter-spacing: 0.02em;
}
/* Socials icons */
.team-social {
  display: flex;
  justify-content: center;
  gap: 24px;
}
.team-socail-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;

  background-color: var(--iris);
  border-radius: 50%;

  transition: background-color var(--anim);
}
.team-socail-link:hover {
  background-color: var(--ocean);
}
.team-socail-link:focus {
  background-color: var(--ocean);
}
.team-socail-icon {
  fill: var(--cloud);
}

/* Section Customers */
.customers {
  /* Phone */
  min-width: 320px;
  padding: 96px 0px;
}
/* Desktop */
@media screen and (min-width: 1158px) {
  .customers {
    padding: 120px 0px;
  }
}
.customers h2 {
  line-height: 1.1;
}
.customers-list {
  /* Phone */
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  row-gap: 72px;
  column-gap: 16px;
}
/* Tablet */
@media screen and (min-width: 768px) {
  .customers-list {
    column-gap: 24px;
  }
}
/* Desktop */
@media screen and (min-width: 1158px) {
  .customers-list {
    flex-wrap: nowrap;
    gap: 24px;
  }
}
.customers-item {
  /* Phone */
  width: 190px;
  height: 88px;
}
/* Tablet and Desktop*/
@media screen and (min-width: 768px) {
  .customers-item {
    width: 168px;
  }
}
.customers-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;

  border: 1px solid var(--light-slate);
  border-radius: 4px;
  color: var(--light-slate);

  transition: color var(--anim), border var(--anim);
}
.customers-link:hover {
  color: var(--ocean);
  border: 1px solid var(--ocean);
}
.customers-link:focus {
  color: var(--ocean);
  border: 1px solid var(--ocean);
}
.customers-icon {
  fill: currentColor;
}

/* Footer */
.footer {
  /* Phone and Tablet */
  background-color: var(--navy-blue);
  padding: 96px 0px;
}
/* Desktop */
@media screen and (min-width: 1158px) {
  .footer {
    padding: 100px 0px;
  }
}
.footer-container {
  /* Phone */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 72px;
}
/* Tablet */
@media screen and (min-width: 768px) {
  .footer-container {
    flex-wrap: wrap;
    flex-direction: row;
    align-items: baseline;
    justify-content: start;
    row-gap: 72px;
    column-gap: 24px;

    padding-left: 108px;
  }
}
/* Desktop */
@media screen and (min-width: 1158px) {
  .footer-container {
    flex-wrap: nowrap;
    justify-content: center;
    gap: 0;

    padding: 0;
  }
}
.footer-section {
  margin: 0;
}
/* Desktop */
@media screen and (min-width: 1158px) {
  .footer-section {
    margin-right: 120px;
  }
}
.footer-logo {
  display: block;
  margin-bottom: 16px;
  text-align: center;

  font-family: var(--secondary-font);
  font-size: 18px;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--iris);
  text-transform: uppercase;
}
/* Tablet */
@media screen and (min-width: 768px) {
  .footer-logo {
    display: inline-block;
  }
}
/* Desktop */
@media screen and (min-width: 1158px) {
  .footer-logo {
    margin-right: auto;
    padding: 24px 0 22px;
  }
}
.footer-studio {
  font-family: var(--secondary-font);
  font-size: 18px;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--cloud);
  text-transform: uppercase;
}
.footer-desc {
  color: var(--cloud);
  width: 264px;
}

.footer-title {
  /* Phone */
  display: block;
  margin-bottom: 16px;
  text-align: center;

  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--white);
}
/* Tablet and Desktop */
@media screen and (min-width: 768px) {
  .footer-title {
    text-align: start;
  }
}

/* Footer socials */
.footer-socials {
  /* Phone and Tablet */
  margin-right: 0;
}
/* Desktop */
@media screen and (min-width: 1158px) {
  .footer-socials {
    margin-right: 80px;
  }
}
.footer-socials-list {
  display: flex;
  gap: 16px;
}
.footer-socials-item {
  width: 40px;
  height: 40px;
}
.footer-socials-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;

  background-color: var(--iris);
  border-radius: 50%;

  transition: background-color var(--anim);
}
.footer-socials-link:hover {
  background-color: var(--green);
}
.footer-socials-link:focus {
  background-color: var(--green);
}
.footer-socials-icon {
  fill: var(--cloud);
}

/* Footer subcribe */
.subscribe-wrapper {
  /* Phone */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
}
/* Tablet and Desktop*/
@media screen and (min-width: 768px) {
  .subscribe-wrapper {
    flex-direction: row;
    gap: 24px;
  }
}

.subscribe-input {
  width: 396px;
  height: 40px;
  padding: 8px 16px;

  color: var(--white);

  background-color: transparent;
  outline: transparent;
  border: 1px solid var(--white);
  opacity: 0.3;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
}
/* Tablet */
@media screen and (min-width: 768px) {
  .subscribe-input {
    width: 264px;
  }
}
/* Desktop */
@media screen and (min-width: 1158px) {
  .subscribe-input {
    opacity: 1;
  }
}

.subscribe-input::placeholder {
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: var(--white);
}

.subscribe-btn {
  position: relative;

  width: 165px;
  height: 40px;
  padding: 0 24px;

  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: left;
  color: var(--white);

  background-color: var(--iris);
  border-radius: 4px;
  border-color: transparent;
  cursor: pointer;

  transition: background-color var(--anim);
}
.subscribe-btn:hover {
  background-color: var(--ocean);
}
.subscribe-btn:focus {
  background-color: var(--ocean);
}
.subscribe-icon {
  position: absolute;
  top: 50%;
  left: 117px;
  transform: translateY(-50%);
}

/* Portfolio */
.portfolio {
  min-width: 320px;
  padding: 48px 0;
}
/* Tablet */
@media screen and (min-width: 768px) {
  .portfolio {
    padding: 64px 0 96px;
  }
}
/* Desktop */
@media screen and (min-width: 1158px) {
  .portfolio {
    padding: 100px 0 120px;
  }
}
/* Buttons */
.portfolio-btn-list {
  flex-wrap: wrap;
  gap: 16px 24px;

  margin-bottom: 48px;
}
/* Tablet */
@media screen and (min-width: 768px) {
  .portfolio-btn-list {
    justify-content: center;
    margin-bottom: 64px;
  }
}
/* Desktop */
@media screen and (min-width: 1158px) {
  .portfolio-btn-list {
    margin-bottom: 72px;
  }
}

.portfolio-btn {
  min-height: 40px;
  padding: 8px 16px;

  font-family: inherit;
  font-weight: 500;
  text-align: center;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--iris);

  background-color: var(--cloud);
  cursor: pointer;
  border: 1px solid var(--cornflower);
  border-radius: 4px;

  transition: color var(--anim), background-color var(--anim),
    box-shadow var(--anim), border var(--anim);
}
/* Tablet and Desktop*/
@media screen and (min-width: 768px) {
  .portfolio-btn {
    min-height: 48px;
    padding: 12px 24px;
  }
}

.portfolio-btn:hover {
  color: var(--white);
  background-color: var(--ocean);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border: 1px solid transparent;
}
.portfolio-btn:focus {
  color: var(--white);
  background-color: var(--ocean);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border: 1px solid transparent;
}

/* Cards */
.portfolio-card-list {
  flex-wrap: wrap;
  justify-content: center;
  gap: 48px 24px;
}
/* Tablet */
@media screen and (min-width: 768px) {
  .portfolio-card-list {
    gap: 72px 24px;
    justify-content: space-between;
  }
}
/* Desktop */
@media screen and (min-width: 1158px) {
  .portfolio-card-list {
    gap: 48px 24px;
    justify-content: center;
  }
}
.portfolio-card-list h2 {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  color: var(--navy-blue);
}
.portfolio-card-list-item {
  width: 100%;
}
/* Tablet */
@media screen and (min-width: 768px) {
  .portfolio-card-list-item {
    width: calc((100% - 24px) / 2);
  }
}
/* Desktop */
@media screen and (min-width: 1158px) {
  .portfolio-card-list-item {
    width: calc((100% - 48px) / 3);
  }
}
/* Card overlay */
.card-wrapper {
  position: relative;
  overflow: hidden;
}
.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  transform: translateY(100%);

  width: 100%;
  height: 100%;
  padding: 40px 32px;

  background-color: var(--iris);
  transition: transform var(--anim);
}
@media screen and (max-width: 1157px) {
  .overlay {
    display: none;
  }
}
.overlay-label {
  color: var(--cloud);
  letter-spacing: 0.02em;
}
.portfolio-card-link:hover .overlay {
  transform: translateY(0);
}
.portfolio-card-link {
  display: block;
  transition: box-shadow var(--anim);
}
.portfolio-card-link:hover {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.portfolio-card-link:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
/* Card description */
.portfolio-card-list-desc {
  padding: 32px 16px;
  border: 1px solid var(--cornflower);
  border-top: none;
}

/* Modal */
.blackdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  background-color: var(--navy-blue-modal);

  transition: opacity var(--anim), visibility var(--anim);
}
@media screen and (orientation: lanscape) {
  .backdrop {
    overflow: auto;
  }
}
.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.modal {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  min-width: 352px;
  max-width: 392px;
  min-height: 576px;
  padding: 24px;

  background-color: var(--dairy);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}
/* Tablet and Desktop */
@media screen and (min-width: 768px) {
  .modal {
    width: 408px;
  }
}

.modal-button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  width: 24px;
  height: 24px;

  background: var(--cornflower);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;

  transition: background-color var(--anim);
}
.modal-icon {
  transition: fill var(--anim);
}
.modal-button:hover {
  background-color: var(--ocean);
}
.modal-button:focus {
  background-color: var(--ocean);
}
.modal-button:hover .modal-icon {
  fill: var(--white);
}
.modal-button:focus .modal-icon {
  fill: var(--white);
}

.modal-form-title {
  display: block;
  margin-top: 24px;
  margin-bottom: 16px;

  text-align: center;
  letter-spacing: 0.02em;
  color: var(--navy-blue);
}

.modal-form-label {
  display: block;
  margin-bottom: 4px;

  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--light-slate);
}
.modal-form-label:first-child {
  letter-spacing: 0.04em;
}
.modal-form-wrapper {
  position: relative;
  margin-bottom: 8px;
}
.modal-form-input {
  width: 100%;
  height: 40px;
  padding-right: 38px;
  padding-left: 38px;

  border: 1px solid var(--navy-blue-modal);
  border-radius: 4px;
  outline: 1px solid transparent;
  outline-offset: -1px;

  transition: outline-color var(--anim);
}
.modal-form-input:focus {
  outline-color: var(--iris);
}
.modal-form-icon {
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);

  fill: var(--navy-blue);
  transition: fill var(--anim);
  pointer-events: none;
}
.modal-form-input:focus + .modal-form-icon {
  fill: var(--iris);
}
.modal-form-comment {
  display: block;
  width: 100%;
  min-height: 120px;
  max-height: 180px;
  padding: 8px 16px;
  margin-bottom: 16px;

  font-size: 12px;

  border: 1px solid var(--navy-blue-modal);
  border-radius: 4px;
  outline: 1px solid transparent;
  outline-offset: -1px;

  transition: outline-color var(--anim);
  resize: none;
}
.modal-form-comment:focus {
  outline-color: var(--iris);
}
.modal-form-comment::placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--navy-blue-modal);
}
.modal-form-agreement {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;

  margin-bottom: 24px;
}
.modal-form-agreement-box {
  appearance: none;
  width: 16px;
  height: 16px;

  border: 1px solid var(--navy-blue-modal);
  border-radius: 2px;

  background-image: url("data:image/svg+xml,%3Csvg width='10' height='8' viewBox='0 0 10 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8.44558 0.255056C8.61838 0.089653 8.84834 -0.00178848 9.08693 2.65108e-05C9.32551 0.0018415 9.55407 0.0967713 9.72436 0.264784C9.89466 0.432797 9.99337 0.660752 9.99968 0.900549C10.006 1.14034 9.91939 1.37323 9.75816 1.55005L4.86357 7.70436C4.7794 7.79551 4.67782 7.86865 4.5649 7.91942C4.45198 7.97018 4.33003 7.99754 4.20636 7.99984C4.08268 8.00214 3.95981 7.97935 3.8451 7.93282C3.73038 7.88629 3.62618 7.81698 3.53872 7.72903L0.292827 4.46564C0.202435 4.38096 0.129933 4.27884 0.0796475 4.16537C0.0293621 4.05191 0.00232279 3.92942 0.000143182 3.80522C-0.00203643 3.68102 0.0206883 3.55765 0.0669613 3.44248C0.113234 3.3273 0.182108 3.22267 0.269473 3.13483C0.356838 3.047 0.460905 2.97775 0.575465 2.93123C0.690026 2.88471 0.812734 2.86186 0.936267 2.86405C1.0598 2.86624 1.18163 2.89343 1.29449 2.94398C1.40734 2.99454 1.50892 3.06743 1.59315 3.15831L4.16189 5.73967L8.42227 0.28219C8.42994 0.272694 8.43813 0.263635 8.4468 0.255056H8.44558Z' fill='%23F4F4FD'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 0;
  transition: background-color var(--anim), border-color var(--anim),
    background-size var(--anim);
  cursor: pointer;
}
.modal-form-agreement-box:checked {
  background-color: var(--ocean);
  border-color: var(--ocean);
  background-size: 10px 8px;
}
.modal-form-agreement-text {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--light-slate);
}
.modal-form-agreement-link {
  color: var(--iris);
}
.modal-form-btn {
  display: block;
  margin: 0 auto;
  width: 169px;
  height: 56px;

  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  align-items: center;
  text-align: center;
  letter-spacing: 0.04em;
  color: var(--white);

  background-color: var(--iris);
  cursor: pointer;
  border: 1px solid transparent;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;

  transition: background-color var(--anim);
}
.modal-form-btn:hover {
  background-color: var(--ocean);
}
.modal-form-btn:focus {
  background-color: var(--ocean);
}

/* Mobile menu */
.menu-toggle {
  min-height: 22px;
  min-width: 32px;
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: transparent;

  margin: 0;
  padding: 0;
  cursor: pointer;
  border: none;
  outline: none;
}

@media (min-width: 768px) {
  .menu-toggle {
    display: none;
  }
}

.menu-container {
  position: fixed;
  top: 0;
  left: 0;

  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100%;
  padding: 24px 24px 40px 40px;
  background-color: var(--white);
  z-index: 999;

  transform: translateX(100%);
  transition: transform var(--anim);
}

.menu-container.is-open {
  transform: translateX(0);
}

.menu-container .menu-toggle {
  position: absolute;
  top: 16px;
  right: 16px;
  color: #fff;
}

.menu-toggle-close {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-bottom: 32px;
  width: 24px;
  height: 24px;

  background: var(--cornflower);

  border: 1px solid var(--navy-blue);
  opacity: 0.1;
  border-radius: 50%;
  cursor: pointer;
  z-index: 1;

  transition: background-color var(--anim);
}
.menu-icon-close {
  transition: fill var(--anim);
}
.icon-close {
  z-index: 2;
  opacity: 1;
}

.mobile-menu {
  padding: 0;
  margin: 0;
  list-style: none;

  margin-bottom: auto;
}
.menu-icon {
  fill: var(--navy-blue);
}
.mobile-menu-link {
  display: block;
  margin-bottom: 40px;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  color: var(--navy-blue);
  text-decoration: none;

  transition: color var(--anim);
}
.mobile-menu-link:hover {
  color: var(--ocean);
}
.mobile-menu-link:focus {
  color: var(--ocean);
}
.mobile-menu a.current {
  color: var(--ocean);
}
.mobile-menu-contacts {
  margin-bottom: 8px;
}
.mobile-menu-contacts-link {
  display: block;
  margin-bottom: 40px;

  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;

  transition: color var(--anim), font-size var(--anim), line-height var(--anim);
}
.mobile-menu-contacts-link:hover {
  font-size: 36px;
  line-height: 1.11;
  color: var(--iris);
}
.mobile-menu-contacts-link:focus {
  font-size: 36px;
  line-height: 1.11;
  color: var(--iris);
}
.mobile-menu-socials {
  display: flex;
  gap: 56px;
  justify-content: center;
}
.mobile-menu-socials-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;

  background-color: var(--iris);
  border-radius: 50%;

  transition: background-color var(--anim);
}
.mobile-menu-socials-link:hover {
  background-color: var(--ocean);
}
.mobile-menu-socials-link:focus {
  background-color: var(--ocean);
}
.mobile-menu-socials-icon {
  fill: var(--cloud);
}
